<%- layout("layouts/boilerplate") %>
<h1 id="signup__text">Log In</h1>
<form class="form" action="/auth/login" method="post">
  <div class="form-content">
    <label for="email">Email: </label>
    <input class="form-control" id="email" name="email" type="email" />
  </div>
  <div class="form-content">
    <label for="password">Password: </label>
    <input class="form-control" type="password" name="password" id="password" />
  </div>
  <button type="submit" class="button">Log In</button>
</form>
