<%- layout("layouts/boilerplate") %>
    <h1>All Languages</h1>
    <div class="language-container">
      <ul>
        <% for (let language of languageList) { %>
        <a href="/languages/<%= language._id %>" class="language">
          <img
            class="flag-img"
            src="/public/images/<%= language.flagRoute %>"
          />
          <p class="language__text"><%= language.name %></p>
        </a>
        <% } %>
      </ul>
    </div>
    <script>
      function goTolanguage(id) {
        fetch(`/languages/${id}`);
      }
    </script>
  </body>
</html>
