<nav class="navbar">
    <div><a href="/">Home</a></div>
    <ul class="navbar__list">
      <li><a href="/tutors">Tutors</a></li>
      <li><a href="/languages">Languages</a></li>
      <li><a>Log In</a></li>
      <li><a>Sign Up</a></li>
    </ul>
  </nav>