<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Course</title>
  </head>
  <body>
    <form action="/courses" method="post">
      <div>
        <label for="title">Title: </label>
        <input id="title" name="course[title]" type="text" />
      </div>
      <div>
        <label for="description">Description: </label>
        <input id="description" name="course[description]" type="text" />
      </div>
      <div>
        <label for="price">Price: </label>
        <input id="price" name="course[price]" type="text" />
      </div>
      <button type="submit">Add Course</button>
    </form>
    <a href="/courses">Back to Courses</a>
  </body>
</html>
