<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar">
      <div><a href="/">Home</a></div>
      <ul class="navbar__list">
        <li><a href="/tutors">Tutors</a></li>
        <li><a href="/languages">Languages</a></li>
        <li><a>Log In</a></li>
        <li><a>Sign Up</a></li>
      </ul>
    </nav>
