/* Main Elements for all pages */
* {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
body {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background-color: rgb(158, 154, 154);
  z-index: 99;
  position: sticky;
  top: 0;
}

.navbar a {
  color: #fff;
}

.navbar__list {
  display: flex;
  list-style-type: none;
}

.navbar__list li {
  margin-left: 20px;
}

/* Footer */
.footer {
  background-color: rgb(26, 22, 22);
  color: white;
  padding: 15px 0;
  margin-top: auto;
}

.footer__content {
  color: rgb(236, 229, 229);
}

/* Home Page */
.home {
  background-blend-mode: screen;
  background-image: linear-gradient(to right bottom, rgb(128, 127, 127), rgb(105, 104, 104)), url('/public/images/landing-img.jpeg');
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Languages Page */
.language-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flag-img {
  height: 50px;
  width: 50px;
  margin-left: 10px;
}

.language {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(236, 229, 229);
  width: 500px;
  margin: 10px;
}
.language:hover {
  cursor: pointer;
}
.language__text {
  margin-right: 10px;
}

.tutors__container {
  padding: 10px 100px;
}

.tutor__container {
  height: 150px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
