<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutors</title>
  </head>
  <body>
    <h1>All Tutors</h1>
    <ul>
      <% for (let tutor of tutorList) { %>
      <li>
        <a href="tutors/<%= tutor._id %>"><%= tutor.name %></a> -
        <span><%= tutor.rating %></span>
      </li>
      <% } %>
    </ul>
  </body>
</html>
