<%- include('../layouts/header') -%>
    <h1>All Tutors</h1>
    <ul>
      <% for (let tutor of tutorList) { %>
      <li>
        <a href="tutors/<%= tutor._id %>"><%= tutor.name %></a> -
        Rating: <span><%= tutor.rating %></span>
      </li>
      <% } %>
    </ul>
  </body>
</html>
