<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutor</title>
  </head>
  <body>
    <h1><%= tutor.name %></h1>
    <h2>Rating: <%= tutor.rating %></h2>
    <p>Teaches: <%= tutor.language.name %></p>
    <p>
      <form action="/tutors/<%= tutor._id %>?_method=DELETE" method="post">
        <button type="submit">Delete Course</button>
      </form>
    </p>
    <footer>
      <a href="/tutors">All Tutors</a>
    </footer>
  </body>
</html>
